.ItemDetailContainer {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .ItemDetailContainer p {
    font-size: 1.2em;
    color: #333;
  }
  
  .ItemDetailContainer .loading {
    font-size: 1.2em;
    color: #777;
  }
  
  .ItemDetailContainer .error {
    font-size: 1.2em;
    color: #ff0000;
  }
  